.wrapper {
  position: relative;
  cursor: pointer;
}

.icon {
  width: 40px;
  height: 40px;
}

.number {
  position: absolute;
  top: -4px;
  right: 2px;
  font-size: 15px;
  padding: 2px 6px;
  border: 1px solid;
  background-color: red;
}

.triangle {
  position: absolute;
  bottom: 0;
  right: 9px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid red;
}
