.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 50px;
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #faf7f7;
}

.card:hover {
  box-shadow: 0px 0px 20px #b4b4b4;
  transform: scale(1.02);
}

.card__name {
  margin: 10px;
  width: 230px;
  text-align: center;
}

.close {
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 6px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.close:hover {
  opacity: 1;
}

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 18px;
  width: 2px;
  background-color: #333;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.icon {
  display: block;
  cursor: pointer;
  width: 25px;
  height: 25px;
  margin: 10px;
  background-repeat: no-repeat;
}

.button {
  width: 450px;
  appearance: none;
  background: none;
  font-size: 22px;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 20px;
  outline: none;
  border: 2px solid transparent;
  color: rgb(112, 76, 182);
  padding-bottom: 4px;
  cursor: pointer;
  background-color: rgba(112, 76, 182, 0.1);
  border-radius: 2px;
  transition: all 0.15s;
}

.button__small {
  width: 200px;
}

.textbox {
  width: 450px;
  font-size: 22px;
  padding: 2px;
  text-align: center;
  margin-right: 15px;
}

.button:hover,
.button:focus {
  border: 2px solid rgba(112, 76, 182, 0.4);
}

.button:active {
  background-color: rgba(112, 76, 182, 0.2);
}
