.row {
  display: flex;
  width: 500px;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 80px;
  padding: 15px;
  border: 1px solid;
}

.name {
  font-size: 22px;
  font-weight: 600;
}

.item {
  margin-bottom: 10px;
}

.time {
  font-size: 16px;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}
